html {
    width: 100%;
    height: 100%;
}


body {
    font-family: "DM Sans";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1 {
    font-weight: 500;
}

p {
    font-size: 18px;
}

.container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px auto 250px auto 0;
    gap: 20px;
    height: 90%;
    background-color: whitesmoke;
}

.item-1 {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    background-color: hsl(256, 67%, 59%);
    border-radius: 15px;
    padding: 20px;
    grid-area: 1/2/ span 2/span 2;
}

.item-1 h1 {
    text-align: center;
    font-size: 50px;
}

.item-1 img {
    margin-top: -18px;
    width: 150px;
    height: 30px;
}

.item-1 span {
    color: hsl(39, 100%, 71%);
}

.item-2 {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    border-radius: 15px;
    height: 100%;
    grid-area: 3/2/span 2;
    overflow: hidden;
}

.item-2 h1 {
    margin-left: 20px;
}

.item-2 img {
    width: 400px;
}

.item-3 {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: hsl(39, 100%, 71%);
    border-radius: 15px;
    height: 100%;
    grid-area: 3/3/span 2;
    overflow: hidden;
}

.item-3 h1{
    margin-left: 20px;
}

.item-3 img{
    width: 260px;
    margin-left: 20px;
}

.item-4 {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: hsl(254, 88%, 90%);
    border-radius: 15px;
    padding: 20px;
    grid-area: 1/4/ span 4;
    overflow: hidden;
}

.item-4 img {
    width: 300px;
    height: 600px;
}

.item-5 {
    display: flex;
    color: white;
    background-color: hsl(256, 67%, 59%);
    border-radius: 15px;
    padding: 30px;
    grid-area: 5/3/ span 2/span 2;
}

.item-6 {
    display: flex;
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    height: 100%;
    grid-area: 5/2/span 2;
}

.item-7 {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: hsl(31, 66%, 93%);
    border-radius: 15px;
    padding: 30px;
    grid-area: 1/1/span 3;
}

.item-7 h1 {
    font-weight: 600;
}

.item-7 span {
    color: hsl(256, 67%, 59%);
    font-style: italic;
}

.item-7 img {
    height: 100px;
    width: 230px;
}

.item-8 {
    display: flex;
    color: black;
    background-color: hsl(39, 100%, 71%);
    border-radius: 15px;
    padding: 30px;
    grid-area: 4/1/ span 4;
}